  <!DOCTYPE html>
  <html lang="en">
    
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="../styles/login.css">
    <title>Login</title>
  </head>
  <body>
    <header>
    <h1>Welcome to Gastronauts</h1>
    <p>Enter your credentials and you can get started making your reservation</p>
    </header>
    <form>
    <h2>Email</h2>
    <input 
    placeholder="email@adress.com"
    name="email"
    type="email"
    id="email"
    />
    <h2>Password</h2>
    <input
    placeholder="your password"
    name = "password"
    id = "pwd"
    />
    <br>
    <button type="submit">Login</button>
  </form>
  </body>
  
  </html>

  <!-- https://coolors.co/c5ebc3-b7c8b5-a790a5-875c74-54414e -->