<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href ="../styles/restOverview.css">
  <title></title>
</head>

<div class="card">
    <section class="card container">
        <h1>Restaurant Title</h1> <!--name-->
        <img src="../../asset/restaurant01.jpg"> <!--image-->
        <p>This is a description of the restaurant</p> <!--description-->
        <p>(Address)</p> <!--location-->
        <h2>Our Menu:</h2>
        <div class="menu"> <!--per item in menu array-->
            <p>BURGER - This is a well-written description of the menu item. It is very delicious and very nutritious. $15</p>
        </div>
        <h2>Hours of Operation</h2> 
        <p> <!--hours-->
            11AM - 9PM Monday through Thursday <br>
            11AM - 12AM Friday through Saturday <br>
            CLOSED Sunday
        </p>
        <h2>Tags:</h2>
        <div> <!--per item in tag array-->
            <span class="label other">Dog Friendly</span>
            <span class="label other">Gluten Free</span>
        </div>
        <br>
        <button class="resBtn">Make A Reservation</button> <!--link to reservation form-->
    </section>
</div>

