<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href ="../styles/restOverview.css">
  <title></title>
</head>

<section class="RestaurantComp">
    <h1>Restaurant Title</h1>
    <div>image</div>
    <div class="restDescription">This is a description of the restaurant</div>
    <div class ="restMenu">
        <div>Our Menu:</div>
        <ul>
            <li>appetizer</li>
            <li>entree</li>
            <li>dessert</li>
        </ul>
    </div>
    <div class="restHours">Our hours are from:</div>
</section>

<!-- MODEL:
- name
- bio/description/intro
- menu link
- location
- phone number
- operation hours
- tags for handicap accessibility, gluten-free options, vegan options, patio/outdoor seating, etc.
-->