body {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    background: radial-gradient(circle, rgba(135,92,116,1) 1%,rgba(84,65,78,1) 10%, rgba(197,235,195,1) 30%, rgba(183,200,181,1) 53%, rgba(167,144,165,1) 70%, rgb(53, 46, 51) 100%);
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 6px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 4px;
    border: 3px solid rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 2px dotted rgb(0, 0, 0);
  }
  
  button {
    height: 50px;
    background: linear-gradient(orange 25%, yellow 50%, red 75%, rgb(39, 36, 36) 100%);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: 0px 0px 15px 5px rgb(239, 239, 180);
  }

  @media screen and (max-width: 830px) {

    form {
      margin-left: 20px;
      font-size: 10px;
    }

    div.elem-group {
      margin: 10px 0;
    }
    
    div.elem-group.inlined {
      width: 19%;
      float: left;
      margin-left: 1%;
    }
    
    label {
      display: block;
      font-family: 'Nanum Gothic';
      padding-bottom: 6px;
      font-size: 1.00em;
    }
    
    input, select, textarea {
      font-size: 1.25em;
      width: 70%;
      padding: 10px;
    }
}