.card {
    background-color: #875C74;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
    text-align: center;
}

.container {
    padding: 2px 16px;
    padding-bottom: 15px;  
}

.label {
    color: white;
    padding: 6px;
}

.menu {
    align-items: center;
    text-align: center;
    margin: 1em auto;
    border: 1px solid #ddd;
    padding: .3em .6em;
    background-color: #B7C8B5;
}

.menu p{
    font-size: .9em;
    color: #777;
    margin-bottom: 1.5em;
    font-style: italic;
}

h3 {
    font-weight: 700;
    margin: .7em 0 1em 0;
}

h3 span {
float:left;
}

/*  
MODEL:
    - name
    - bio/description/intro
    - menu link
    - location
    - phone number
    - operation hours
    - tags for handicap accessibility, gluten-free options, vegan options, patio/outdoor seating, dog friendly, family friendly, bar, etc.
*/
/* Default Label Colors */
.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */