@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish&display=swap');

h1 {
    font-size:xx-large;
    color: #2E232A;
}

h2 {
    font-size: x-large;
    color: #2E232A;
}

p {
    color: #54414E;
}

.card {
    background-color: #A790A5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
    text-align: center;
    font-family: 'Lato', 'Mulish',sans-serif;
}

.container {
    padding: 2px 16px;
    padding-bottom: 15px;  
}

.hours {
    background-color: white;
    width: auto;
    height: auto;
    border: 1px solid #2E232A;
} 
/* ^ NOT IN REACT YET */

.label {
    padding: 8px;
}

.menu {
    align-items: center;
    text-align: center;
    margin: 1em auto;
    border: 1px solid whitesmoke;
    padding: .3em .6em;
    background-color: #B7C8B5;
}

.menu p{
    font-size: 1em;
    color: #875C74;
    margin-bottom: 1.5em;
    font-style: italic;
}

.resBtn {
    background-color: #875C74;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    font-family: 'Lato', 'Mulish',sans-serif;
}
.resBtn:hover {opacity: 1}

/*  
MODEL:
    - name (required)
    - location
    - description
    - image
    - hours
    - menu []
    - tags for handicap accessibility, gluten-free options, vegan options, patio/outdoor seating, dog friendly, family friendly, bar, etc. []

    ALL STRING DATATYPE
*/

/* Default Label Colors */
.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #54414E; color: whitesmoke;} /* CUSTOM */